<div class="modal fade" id="confirmationModal" tabindex="-1" aria-labelledby="confirmationModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="confirmationModalLabel">@Title</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <button type="button" class="btn btn-secondary" style="width: 100px;" data-bs-dismiss="modal" @onclick="@(()=> ModelConfirmationClick(false))">Close</button>
                <button type="button" class="btn @ButtonBootstrapStyle" style="width: 100px;" @onclick="@(()=> ModelConfirmationClick(true))">@ButtonText</button>
            </div>
        </div>
    </div>
</div>

@code {

    [Parameter]
    public EventCallback<bool> OnModalClose { get; set; }

    [Parameter]
    public string Title { get; set; } = "Please confirm";

    [Parameter]
    public string ButtonBootstrapStyle { get; set; } = "btn-primary";

    [Parameter]
    public string ButtonText { get; set; } = "Confirm";

    private async Task ModelConfirmationClick(bool IsConfirm)
    {
        await this.OnModalClose.InvokeAsync(IsConfirm);
    }
}