@page "/learnBlazure/propBinding"
<h3>Product Detail</h3>

<div class="row">
    <h4>@product.Name</h4>
    <p>Description: @product.Description</p>
    <p>Price: @product.Price</p>
    <p>Update Price: <input type="number" @bind-value="@product.Price" class="form-control form-control-sm" @bind-value:event="oninput"/></p>
    <p>Update Price: <input type="number" @bind="@product.Price" class="form-control form-control-sm" @bind:event="oninput"/></p>
    <p>Product Status: @(product.IsAvailable == true ? "Available" : "Not available")</p>
</div>

@code {
    Models.Product product = new Models.Product
        {
            Id = 1,
            Name = "Moko M1 64GB",
            Description = "This is a description of Moko 64GB.",
            Price = 19.99m,
            IsAvailable = true
        };
}
